<style>
:root { --override: #000000; }
/*                   ^^^^^^ Update this hex code with your color */

.v-application .primary { background-color: var(--override) !important; border-color: var(--override) !important; }

.v-main .contents h1 { color: var(--override) !important; }

.v-main .contents h1:after { background: linear-gradient(90deg,var(--override),rgba(255,255,255,0)) !important; }

.v-application .blue,{background-color: rgba(0,0,0,.1) !important;}
 .v-application .blue.darken-2, .v-application .blue.darken-3 {background-color: rgba(0,0,0,.2) !important;}
</style>
