.v-main .page-col-sd > div:nth-child(2) {
  display: none
}
.v-main .page-col-sd > div:nth-child(3) {
  display: none
}
.v-main .page-col-sd > div:nth-child(4) {
  display: none
}
.v-main .layout {
  flex-direction: row-reverse
}
.v-main .h1 {
  display: none
}
#app > div.v-application--wrap > main > div > div.container.pl-5.pt-4.container--fluid.grid-list-xl > div > div > div.contents > div {
  font-family: Poppins,sans-serif
}
